<a href="https://colab.research.google.com/github/JoseLuisColoma/The_Complete_Python_Course_2024/blob/master/Level_02/ejercicio2_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* C3P0 is 1.75 meters tall & R2D2 is 1.09 meters tall.
* Step 1: Create a variable called height as a string type
* Step 2: Assign the height a value of 1.09
* Step 3: Print the height of R2D2
* Step 4: Change the height data type from string to floating
* Step 5: Add 0.66 to 1.09
* Step 6: Print the new height

In [34]:
height = str(1.09)
print(height)
height = float(1.09)
height = height + 0.66
print(height)

1.09
1.75