<a href="https://colab.research.google.com/github/JoseLuisColoma/The_Complete_Python_Course_2024/blob/master/Level_03/ejercicio3_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Step 1: Define 2 names as Jack & Rose

* Step 2: Define the year as 1912

* Step 3: Using the 2 name variables and the year variable, print this:
Jack and Rose were on the Titanic in 1912

In [7]:
nombre1 = 'Jack'
nombre2 = 'Rose'
fecha = 1912
print(nombre1 + ' y ' + nombre2 + ' estuvieron en el Titanic en ' + str(fecha))

Jack y Rose estuvieron en el Titanic en 1912